@media only screen and (max-width: 992px) {
    .starry-container {
        margin-bottom: 50px;
        padding-top: 85px;
    }

    .starry-content img {
        height: 300px;
    }

    .starry-content .col-md-8 {
        padding-left: 35px;
    }

    .navbar-collapse {
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        pointer-events: none;
    }

    .navbar-collapse.show {
        display: inline-block !important;
        width: auto !important;
        position: absolute;
        right: 12px;
        top: 100%;
        z-index: 999;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 1px 1px 2px #000;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 1px;
        margin-top: 5px;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .navbar-nav {
        flex-direction: column; /* Stack items vertically */
    }

    .navbar-collapse .nav-link {
        padding-left: 8px;
        padding-right: 8px;
        white-space: nowrap;
    }

    .navbar-collapse .nav-link:hover {
        color: #eee !important;
        background: rgba(255, 255, 255, 0.2);
    }

    .container-fluid {
        top: 10px;
        position: absolute;
    }
}

@media only screen and (max-width: 768px) {
    .starry-container {
        height: 675px;
        margin-bottom: 35px;
    }

    .starry-content .col-md-8 {
        padding-left: calc(var(--bs-gutter-x) * .5);
        padding-top: 40px;
    }

    .starry-content img {
        margin: unset;
        height: 255px;
    }
}

@media only screen and (max-width: 576px) {
    .container,
    .starry-container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
